*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.mobilebody{
	background:yellow;
	height:460px;
	width:210px;
	margin:0px auto;
	margin-top:50px;
	
	border-radius:15px;
	
	
	
}
.mobilescreen{
	height:220px;
	width:200px;
	background:black;
	position:relative;
	left:5px;
	top:5px;
	border-radius:15px;
	display:flex;
	justify-content:center
}
.top-div{
	width:50px;
	height:5px;
	background-color:gray;
	position:absolute;
	top:10px;
	border-radius:5px
	
	
}
.mobilescreen-2{
	width:190px;
	height:190px;
	background:white;
	position:absolute;
	top:20px;
	border-radius:15px;
	text-align:center;
	display:flex;
	
	align-items:center;
	color:red;
	font-size:25px
}
p{
	margin-top:8px;
	text-align:center;
	font-size:25px
}
.top-button{
	display:flex;
	justify-content:space-around;
	align-items:center;
	padding:1px 0px;
}
button.btn{
	padding:2px 15px;
	margin-bottom:5px;
	cursor:pointer;
	background:#e2e261;
border-radius:15px
}

.mdlbtn .btn{
	padding:15px 25px;
	border-radius:15px
}
.bottom-button{
	display:grid;
	justify-content:center;
	align-items:center
}

.btn1{
	padding:2px 25px;
	margin-top:8px;
	cursor:pointer;
	background:#e2e261;
    border-radius:30%;
	align-items:center

}